###
 # @Author: isfengyebb
 # @Date: 2026-03-13 15:53:53
 # @LastEditTime: 2026-03-13 16:50:39
 # @LastEditors: isfengyebb
 # @Description: description
### 
# Anthropic API（通过代理地址调用）
VITE_ANTHROPIC_BASE_URL=http://xxxx/xxx
VITE_ANTHROPIC_API_KEY=your_api_key_here
